Django==6.0.2
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.1
google-genai>=1.0.0
pypdf==5.1.0
python-docx==1.1.2
gunicorn==20.1.0
setuptools>=65.0.0
wheel>=0.37.0
whitenoise==6.6.0
